@font-face {
    font-family: 'Digital-7';
    src: url('Digital-7.woff2') format('woff2'),
        url('Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





body {
    background-color: #BCCEF8;
    height : 100vh;

}
.main {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding : 10px;
    border-radius: 30px;
    width : 500px;
    height : 800px;
    background-color: #FAF7F0;
    border : solid black 5px;
}



  

.screen{
    font-family: 'Digital-7';
    border-radius : 20px;
    border: solid black 2px;
    padding:1rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height: 15%;
    font-size:50px;
    font-weight:bold;
    background-color: #CDFCF6;
    color : black;
    margin:solid black 5px;
}

.buttons{
    padding: 5px;
    display :flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;

}

button[data-operator='%'],button[data-symbol="CE"]{
    border-radius: 5%;
    width:45%;
    background-color: azure;
    color: black
}
button[data-symbol='=']{
    background-color: azure;
    color: black
}


button[data-operator]{
    background-color: #98A8F8;
}
button {
    height: 100px;
    width: 20%;
    border-radius: 0;
    background-color: #BCCEF8;
    color: black;
    box-shadow:  1px 1px  black;
    font-size: 24px;
    font-weight: bold;
}



footer{
    font-family: 'Roboto', sans-serif;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-alert{
    height : 0;
    background-color: rgb(227, 60, 60);
    color : white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.5s linear,height 0.5s linear;
    font-family: 'Roboto',sans-serif;
    border-radius: 10px;
}

.close{
    border-radius: 10%;
    color:white;
    background-color: red;
    height:fit-content;
    width: fit-content;
    font-size: 18px;

}


@media only screen and (max-width: 600px) {
    .app-container{
        width : 250px;
        height : 400px;
    }

    button {
        height : 15%;
        font-size: 18px;
    }

    
 
  }